h1 {
  color: white;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.upperCard {
  height: 448px;
  width: 1003px;
  border-radius: 14px;
  margin: 1rem;
  background-color: darkgray;
}

.lowerCard {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

.leftCard,
.rightCard {
  width: 480px;
  height: 329px;
  border-radius: 14px;
  margin: 1.25rem;

  background-color: darkgray;
}
