@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --background-color-light: #f4f4f4;
  --text-color-light: #333;
  --header-background-light: #f0f0f0;
  --background-color-dark: #333;
  --text-color-dark: #ddd;
  --header-background-dark: #333;
}
