.cardDetails {
  background-color: white;
  width: 82vw;
}

.cardDetails h1 {
  color: black;
  text-align: center;
}

.chartContainer {
  width: 80vw;
}

.distributionContainer {
  align-items: center;
  width: 600px;
}
